<div #container></div>
<app-menu>
	<div class="content" content>
		<mat-form-field>
			<mat-label>size</mat-label>
			<input matInput type="number" min="1" [value]="cube.size" (change)="changeSize($event)" autocomplete="off" />
		</mat-form-field>
		<mat-form-field>
			<mat-label>dimension</mat-label>
			<input matInput type="number" min="1" [value]="cube.dimension" (change)="changeDimension($event)" autocomplete="off" />
		</mat-form-field>
		<div class="btn-group">
			<button mat-raised-button color="primary" (click)="cube.shuffle()" [disabled]="cube.takingStep">
				shuffle
			</button>
			<button mat-raised-button color="primary" (click)="cube.backToOrigin()" [disabled]="cube.takingStep">
				reset
			</button>
		</div>
		<mat-form-field>
			<mat-label>step duration(ms)</mat-label>
			<input matInput type="number" [(ngModel)]="cube.stepDuration" autocomplete="off" />
		</mat-form-field>
		<mat-expansion-panel expanded class="point-info-container">
			<mat-expansion-panel-header>
				<mat-panel-title>Colors</mat-panel-title>
			</mat-expansion-panel-header>
			<div class="color-input" *ngFor="let item of cubeColors">
				<label>{{ item.name }}</label>
				<input
					ejs-colorpicker
					type="color"
					[value]="'#' + cube.colors[item.key].getHexString()"
					(change)="changeColor($event, item.key)"
					[enableOpacity]="false"
				/>
			</div>
		</mat-expansion-panel>
		<mat-form-field>
			<mat-label>execute</mat-label>
			<input
				matInput
				type="text"
				[formControl]="commandFormControl"
				[errorStateMatcher]="matcher"
				autocomplete="off"
				(keydown)="execute($event)"
			/>
			<mat-icon matSuffix (click)="execute()">done</mat-icon>
			<mat-error>{{ matcher.errorMsg }}</mat-error>
		</mat-form-field>
	</div>
</app-menu>
<div class="loading" *ngIf="loading">
	<mat-spinner></mat-spinner>
</div>