<div class="gift-preview" id="gift-preview" [ngClass]="{playing: isSvgaPlaying}"></div>
<mat-tab-group class="gift-groups">
    <mat-tab class="gift-group" *ngFor="let group of giftGroups" [label]="group.giftTypeName">
        <ng-scrollbar class="gifts-container">
            <div class="gifts">
                <div
                    class="gift"
                    *ngFor="let gift of group.giftWebVoList"
                    [matTooltip]="gift.giftName + '(' + gift.diamondAmount + ')'"
                    (click)="showGiftPreview(gift)"
                >
                    <app-image [src]="gift.giftIcon" [prefix]="config.path.imgPath"></app-image>
                    <div class="gift-name">{{ gift.giftName }}</div>
                </div>
            </div>
        </ng-scrollbar>
    </mat-tab>
</mat-tab-group>
<div class="footer">
    <span>动画音量参差不齐，播放时请注意音量</span>
    <span>动画分移动端动画和PC端动画，目前只播放移动端动画，目测这两者只有放大比例不同。</span>
</div>
