<div class="container">
  <div class="thuum" [ngClass]="thuumClass" [ngStyle]="thuumStyle" [attr.thuum]="thuum.name">
    <div class="thuum-chars">
      <ng-container *ngFor="let char of thuumChars">
        <span class="thuum-char" [ngClass]="char.charClass" [ngStyle]="char.charStyle">
          <span>{{ char.content }}</span>
          <div class="thuum-layer" [ngClass]="char.layerClass" [ngStyle]="char.layerStyle"></div>
        </span>
      </ng-container>
    </div>
  </div>
  <button mat-raised-button (click)="showDetails()">?</button>
</div>
