@font-face {
  font-family: thuum;
  src: url("https://candypurity.com/static/fonts/Dovahkiin_1/dovahkiin_1-webfont.ttf");
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .thuum {
    font-family: thuum;
    font-size: 2rem;
    background: white;
    color: black;
    text-shadow: 0px 1px 0px #c0c0c0, 0px 2px 0px #b0b0b0, 0px 3px 0px #a0a0a0, 0px 4px 0px #909090, 0px 5px 10px rgba(0, 0, 0, 0.9);
  }

  .thuum-char {
    position: relative;
    display: inline-block;
    white-space: pre;
  }

  .thuum-layer {
    position: absolute;
    top: 0;
    background-color: white;
    height: 100%;
  }
}

@keyframes slide {
  0% {
    flex: 0 0 0;
  }

  50% {
    flex: 1 1 0;
  }

  100% {
    flex: 0 0 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide-out {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

@keyframes slide-in {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes show-thuum {
  0% {
    color: black;
  }

  50% {
    color: cyan;
  }

  100% {
    color: black;
  }
}

::ng-deep {
  .thuum-title {
    font-family: thuum !important;
  }
}
