:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(25px);
}

.gift-preview {
  flex: 1 1 0;
  transform: scale(0.5);
  transform-origin: top center;

  &:not(.playing) {
    ::ng-deep {
      canvas {
        display: none;
      }
    }
  }
}

$gift-group-height: 240px;
$gift-box-width: 90px;
$gift-img-width: $gift-box-width - 15px;
.gift-groups {
  .gifts-container {
    width: 100%;
    height: calc($gift-group-height - 48px);
  }

  .gifts {
    display: flex;
    flex-wrap: wrap;

    .gift {
      width: $gift-box-width;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      text-align: center;
      cursor: pointer;
      padding: 3px;
      transition: 0.3s;
      box-sizing: border-box;
      &:hover {
        background-color: white;
      }

      app-image {
        width: $gift-img-width;
        height: $gift-img-width;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }
}

.footer {
  margin: 20px 0 65px 0;
  flex-direction: column;
  display: flex;
  align-items: center;
}
