.content {
  > *:not(:last-child) {
    margin-bottom: 5px;
  }
}

.color-input {
  font-size: 1rem;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.mat-icon {
  cursor: pointer;
}

.mat-form-field {
  display: block;
}
