@import "utils";

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .toolbar {
        margin: 0 !important;
        position: absolute;
        left: 0;
        top: 0;

        & > * {
            transition: 0.3s;
            &:hover {
                transform: scale(1.5);
            }
        }

        .mat-icon {
            @include mat-icon-size(30px);
        }
    }

    .title {
        font-size: 1.2em;
        font-weight: bold;
        padding: 10px;
    }
}

.sections {
    position: relative;
    height: 100%;
    overflow: hidden;

    .section {
        .mat-selection-list {
            padding-top: 0;

            .mat-list-item {
                height: 60px;
            }
        }
    }
}

::ng-deep {
    .mat-list-item {
        color: inherit !important;
    }

    .mat-tab-group {
        height: 100%;
    }
}
