<div class="container">
    <div class="bg"></div>
    <div class="chat">
        <div class="chat-title">
            <h1>{{ moli.name }}</h1>
            <h2>{{ moli.description }}</h2>
            <figure class="avatar">
                <img [src]="moli.avatar" />
            </figure>
        </div>
        <div class="messages">
            <div class="messages-content">
                <perfect-scrollbar #scrollbar>
                    <div
                        class="message new"
                        *ngFor="let message of messages"
                        [class]="{'message-personal': !message.user, loading: message.isLoading}"
                    >
                        <figure class="avatar" *ngIf="message.user">
                            <img [src]="moli.avatar" />
                        </figure>
                        <span *ngIf="message.isLoading"></span>
                        {{ message.text }}
                        <div class="timestamp">{{ message.timestamp }}</div>
                    </div>
                </perfect-scrollbar>
            </div>
        </div>
        <div class="message-box">
            <textarea type="text" class="message-input" [value]="input" (input)="onType($event)" placeholder="有什么想说的？"></textarea>
            <button mat-raised-button color="primary" type="submit" class="message-submit" (click)="send()">发送</button>
        </div>
    </div>
</div>
