<h1 mat-dialog-title [innerHTML]="titleHTML"></h1>
<h2 mat-dialog-title [innerHTML]="subTitleHTML"></h2>
<div mat-dialog-content>
	<div [innerHTML]="contentHTML"></div>
	<mat-form-field *ngIf="data.type === 'prompt'">
		<input matInput [type]="data.promptData.type" [(ngModel)]="input" />
		<mat-hint>{{ data.promptData.hint }}</mat-hint>
	</mat-form-field>
</div>
<div mat-dialog-actions style="justify-content: center;">
	<ng-container *ngIf="data.type === 'alert'">
		<button mat-raised-button (click)="cancle()" cdkFocusInitial>好的</button>
	</ng-container>
	<ng-container *ngIf="data.type === 'confirm'">
		<button mat-raised-button (click)="submit()">当然</button>
		<button mat-raised-button (click)="cancle()" cdkFocusInitial>算了</button>
	</ng-container>
	<ng-container *ngIf="data.type === 'prompt'">
		<button mat-raised-button (click)="submit()" cdkFocusInitial>确定</button>
		<button mat-raised-button (click)="cancle()">取消</button>
	</ng-container>
	<ng-container *ngIf="data.type === 'book'">
		<button mat-raised-button (click)="setPage(page - 1)" [disabled]="page <= 0">上一页</button>
		<button mat-raised-button (click)="setPage(page + 1)" [disabled]="page >= data.bookData.length - 1">
			下一页
		</button>
		<button mat-raised-button (click)="cancle()">退出</button>
	</ng-container>
</div>
