<div class="board">
    <div class="area black">
        <div class="tiles">
            <div class="tile" *ngFor="let tile of tilesPerArea; let i = index">
                <div class="corner top left" *ngIf="[17, 23, 24, 26, 28, 30].includes(i)"></div>
                <div class="corner top right" *ngIf="[16, 22, 25, 27, 29, 31].includes(i)"></div>
                <div class="corner bottom left" *ngIf="[9, 15, 16, 18, 20, 22].includes(i)"></div>
                <div class="corner bottom right" *ngIf="[8, 14, 17, 19, 21, 23].includes(i)"></div>
            </div>
        </div>
        <div class="pieces">
            <div
                class="piece"
                *ngFor="let piece of board.black.pieces"
                [hidden]="piece.eaten"
                [attr.name]="piece.name.black"
                [class.selected]="piece.selected"
                [style.left]="piece.position[0] * 12.5 + '%'"
                [style.top]="piece.position[1] * 25 + '%'"
                (click)="onPieceClick(piece)"
            ></div>
        </div>
    </div>
    <div class="divider">
        <div>
            <div>楚</div>
            <div>河</div>
        </div>
        <div>
            <div>漢</div>
            <div>界</div>
        </div>
    </div>
    <div class="area red">
        <div class="tiles">
            <div class="tile" *ngFor="let tile of tilesPerArea; let i = index">
                <div class="corner top left" *ngIf="[8, 10, 12, 14, 17, 23].includes(i)"></div>
                <div class="corner top right" *ngIf="[9, 11, 13, 15, 16, 22].includes(i)"></div>
                <div class="corner bottom left" *ngIf="[0, 2, 4, 6, 9, 15].includes(i)"></div>
                <div class="corner bottom right" *ngIf="[1, 3, 5, 7, 8, 14].includes(i)"></div>
            </div>
        </div>
        <div class="pieces">
            <div
                class="piece"
                *ngFor="let piece of board.red.pieces"
                [hidden]="piece.eaten"
                [attr.name]="piece.name.red"
                [class.selected]="piece.selected"
                [style.left]="100 - piece.position[0] * 12.5 + '%'"
                [style.top]="100 - piece.position[1] * 25 + '%'"
                (click)="onPieceClick(piece)"
            ></div>
        </div>
    </div>
</div>
