div {
    box-sizing: border-box;
    position: relative;
}

$border-width: 1px;
$border-color: black;
// $tile-size: 58.88px;

@mixin border {
    border-width: $border-width;
    border-color: $border-color;
    border-style: solid;
}
@mixin border2x {
    border-width: calc(2 * #{$border-width});
    border-color: $border-color;
    border-style: solid;
}
@mixin line($deg) {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    border-bottom: $border-width solid $border-color;
    transform-origin: bottom center;
    transform: rotateZ($deg) scale(1.414);
}
@mixin abs() {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.board {
    width: 535px;
    height: 599px;
    padding: 30px;
    margin: 20px;
    @include border2x();
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    font-family: "魏碑";
}

.area {
    @include border();
    width: 100%;
    height: 100%;
    flex: 1 1 0;

    .tiles {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        .tile {
            @include border();
            width: 12.5%;
            height: 25%;

            .corner {
                width: 25%;
                height: 25%;
                position: absolute;
                border-color: $border-color;
                border-style: solid;
                border-width: 0;
                &.top {
                    top: 2px;
                    border-top-width: calc(2 * #{$border-width});
                }
                &.right {
                    right: 2px;
                    border-right-width: calc(2 * #{$border-width});
                }
                &.bottom {
                    bottom: 2px;
                    border-bottom-width: calc(2 * #{$border-width});
                }
                &.left {
                    left: 2px;
                    border-left-width: calc(2 * #{$border-width});
                }
            }
        }
    }

    .pieces {
        @include abs();
        .piece {
            position: absolute;
            z-index: 1;
            border-radius: 50%;
            border: 4px double;
            width: 45px;
            height: 45px;
            transform: translate(-50%, -50%);
            background-color: wheat;
            text-shadow: 0px 0px 2px white;
            box-shadow: 3px 3px 2px black;
            &::after {
                content: attr(name);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 30px;
            }
            &.selectable {
                cursor: pointer;
                &:hover,
                &:active {
                    transform: translate(-50%, calc(-50% - 2px));
                    box-shadow: 3px 3px 2px black;
                }
            }
            &.selected {
                animation: blink 1s infinite;
            }
            &.prev-moved {
                box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
            }
        }
    }
    &.black {
        .piece {
            border-color: black;
            color: black;
        }

        .tile {
            &:nth-of-type(4)::before,
            &:nth-of-type(13)::before {
                @include line(45deg);
            }
            &:nth-of-type(5)::before,
            &:nth-of-type(12)::before {
                @include line(-45deg);
            }
        }
    }
    &.red {
        .piece {
            border-color: red;
            color: red;
        }

        .tile {
            &:nth-of-type(20)::before,
            &:nth-of-type(29)::before {
                @include line(45deg);
            }
            &:nth-of-type(21)::before,
            &:nth-of-type(28)::before {
                @include line(-45deg);
            }
        }
    }

    .prompt-positions {
        @include abs();

        .prompt-position {
            position: absolute;
            z-index: 2;
            cursor: pointer;
            width: 45px;
            height: 45px;
            transform: translate(-50%, -50%);
        }
    }
}

.divider {
    @include border2x();
    border-top: none;
    border-bottom: none;
    display: flex;
    justify-content: space-around;

    > * {
        height: 58px;
        line-height: 58px;
        text-align: center;
        font-size: 40px;
        > * {
            display: inline-block;
            transform-origin: center;
        }
        &:first-child > * {
            transform: rotate(-90deg);
        }
        &:last-child > * {
            transform: rotate(90deg);
        }
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

$ripple-color: white;
.ripple::after,
.ripple-small::after {
    content: "";
    display: block;
    border: 1px solid $ripple-color;
    background-color: $ripple-color;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ripple::after {
    animation: ripple 1s linear infinite;
}
.ripple-small::after {
    animation: ripple-small 1s linear infinite;
}
@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba($ripple-color, 0.2), 0 0 0 12px rgba($ripple-color, 0.2), 0 0 0 24px rgba($ripple-color, 0.2);
    }
    100% {
        box-shadow: 0 0 0 12px rgba($ripple-color, 0.2), 0 0 0 24px rgba($ripple-color, 0.2), 0 0 0 36px rgba($ripple-color, 0);
    }
}
@keyframes ripple-small {
    0% {
        box-shadow: 0 0 0 12px rgba($ripple-color, 0.4), 0 0 0 24px rgba($ripple-color, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba($ripple-color, 0.4), 0 0 0 12px rgba($ripple-color, 0.4);
    }
}
