<div class="container" [ngStyle]="containerStyle">
    <div *ngIf="playlist$ | async; let playlist" class="playlist" [formGroup]="form">
        <div class="item">
            <div class="label">id</div>
            <div class="value">
                <span>{{ playlist.id }}</span>
                <a mat-icon-button [href]="getPlaylistUrl(playlist)" target="_blank" matTooltip="查看详细">
                    <mat-icon>open_in_new</mat-icon>
                </a>
            </div>
        </div>
        <div class="item">
            <div class="label">名字</div>
            <div class="value">{{ playlist.name }}</div>
        </div>
        <div class="item">
            <div class="label">播放模式</div>
            <div class="value">
                {{ playlist.mode }}<span *ngIf="isModeName(playlist.mode)">({{ getModeName(playlist.mode) }})</span>
            </div>
        </div>
        <div class="item tracks">
            <div class="label">歌曲列表</div>
            <div class="value">
                <ng-scrollbar>
                    <div class="track" *ngFor="let track of playlist.content">
                        <span style="margin-right: 10px">{{ track.name }}</span>
                        <span>({{ getTrackSubtitle(track) }})</span>
                    </div>
                </ng-scrollbar>
            </div>
        </div>
    </div>
</div>
