.home-btn {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 1000;
}

.footer {
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translate(-50%, 0);
    font-size: 0.75em;
    line-height: 1em;
    padding: 0.5em 1em;
    background-color: rgba(white, 0.4);
    color: black;
    backdrop-filter: blur(5px);
    border-radius: 1em;
}
