<div class="bg" [ngClass]="bgClass$ | async" [ngStyle]="bgStyle$ | async"></div>
<div class="flex-110">
  <router-outlet></router-outlet>
</div>
<app-spinner [text]="loaderText"></app-spinner>
<button *ngIf="showHomeBtn" class="home-btn" mat-mini-fab color="primary" [routerLink]="'/index'">
  <mat-icon>home</mat-icon>
</button>
<div class="footer" *ngIf="showFooter">
  <div class="content" [matTooltip]="lastUpdateStr">
    <a href="https://beian.miit.gov.cn/" target="_blank">粤ICP备18015215号-1</a>
    <span>&nbsp;&nbsp;</span>
    <span>Copyright © 2023 Lucilor</span>
  </div>
</div>
