<div class="bg"></div>
<div class="btn-group">
    <button mat-raised-button color="primary" [routerLink]="paths.bezier">贝塞尔曲线</button>
    <button mat-raised-button color="primary" [routerLink]="paths.rubiksCube">魔方</button>
    <button mat-raised-button color="primary" [routerLink]="paths.chinesePoetry">古诗词</button>
    <button mat-raised-button color="primary" [routerLink]="paths.neteaseMusic">更换歌单</button>
    <button mat-raised-button color="primary" [routerLink]="paths.chat">机器人茉莉</button>
    <button mat-raised-button color="primary" [routerLink]="paths.bullsAndCows">猜数字</button>
</div>
