:host {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  // padding: 20px 20px 0 20px;
  // box-sizing: border-box;
}

.mat-dialog-content {
  max-height: unset;
  &.iframe {
    flex: 1 1 0;
    overflow: hidden;
  }
}

iframe {
  width: 100%;
  height: 100%;
}

.iframe-toolbar {
  display: flex;
  align-items: center;

  .iframe-title {
    flex: 1 1 0;
    text-align: center;
    margin: 0;
  }
}
