:host {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-width: calc(25vw - 48px);
    max-width: calc(90vw - 48px);
    max-height: calc(90vh - 48px);
}

.mat-form-field {
    font-size: 1rem;
    width: 100%;
}

.mat-dialog-content {
    max-height: unset;
    display: flex;
    height: 100%;
}

perfect-scrollbar {
    height: auto;
}
