:host {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: calc(25vw - 48px);
    max-width: calc(90vw - 48px);
    max-height: calc(90vh - 48px);

    > .mat-dialog-content {
        flex: 1 1 auto;
    }
    > :not(.mat-dialog-content) {
        flex: 0 0 0;
    }
}

.mat-form-field {
    font-size: 1rem;
    width: 100%;
}

.mat-dialog-content {
    max-height: unset;
    display: flex;
}

perfect-scrollbar {
    width: auto;
    height: auto;
    flex: 1 1 auto;
}
