<h2 mat-dialog-title *ngIf="titleHTML" [innerHTML]="titleHTML"></h2>
<h3 mat-dialog-title *ngIf="subTitleHTML" [innerHTML]="subTitleHTML"></h3>
<div mat-dialog-content>
    <ng-container *ngIf="data.type === 'editor'; else notEditor">
        <quill-editor [(ngModel)]="data.content" [preserveWhitespace]="true"> </quill-editor>
    </ng-container>
    <ng-template #notEditor>
        <perfect-scrollbar>
            <div [innerHTML]="contentHTML"></div>
            <mat-form-field *ngIf="data.type === 'prompt'">
                <input matInput [formControl]="input" [type]="promptData.type || ''" [placeholder]="promptData.placeholder || ''" />
                <mat-hint>{{ promptData.hint || "" }}</mat-hint>
                <mat-error *ngIf="this.input.invalid">{{ getErrorText() }}</mat-error>
            </mat-form-field>
        </perfect-scrollbar>
    </ng-template>
</div>
<div mat-dialog-actions style="justify-content: center" [ngSwitch]="data.type">
    <ng-container *ngSwitchCase="'alert'">
        <button mat-raised-button (click)="cancle()" cdkFocusInitial>
            {{ cast(data, "alert").btnTexts?.ok || "好的" }}
        </button>
    </ng-container>
    <ng-container *ngSwitchCase="'confirm'">
        <button mat-raised-button (click)="submit()">
            {{ cast(data, "confirm").btnTexts?.yes || "当然" }}
        </button>
        <button mat-raised-button (click)="cancle()" cdkFocusInitial>
            {{ cast(data, "confirm").btnTexts?.no || "算了" }}
        </button>
    </ng-container>
    <ng-container *ngSwitchCase="'prompt'">
        <button mat-raised-button (click)="submit()" cdkFocusInitial>
            {{ cast(data, "prompt").btnTexts?.submit || "确定" }}
        </button>
        <button mat-raised-button (click)="cancle()" [disabled]="data.cancelable === false">
            {{ cast(data, "prompt").btnTexts?.cancle || "取消" }}
        </button>
    </ng-container>
    <ng-container *ngSwitchCase="'book'">
        <button mat-raised-button (click)="setPage(page - 1)" [disabled]="page <= minPage">
            {{ cast(data, "book").btnTexts?.prev || "上一页" }}
        </button>
        <button mat-raised-button (click)="setPage(page + 1)" [disabled]="page >= maxPage">
            {{ cast(data, "book").btnTexts?.prev || "上一页" }}
        </button>
        <button mat-raised-button (click)="cancle()">
            {{ cast(data, "book").btnTexts?.exit || "退出" }}
        </button>
    </ng-container>
    <ng-container *ngSwitchCase="'editor'">
        <button mat-raised-button (click)="submit()" cdkFocusInitial>
            {{ cast(data, "editor").btnTexts?.submit || "确定" }}
        </button>
        <button mat-raised-button (click)="cancle()" [disabled]="data.cancelable === false">
            {{ cast(data, "editor").btnTexts?.cancle || "取消" }}
        </button>
    </ng-container>
    <ng-container *ngSwitchCase="'button'">
        <button mat-raised-button *ngFor="let button of cast(data, 'button').buttons" (click)="submit(button)">
            {{ getButtonLabel(button) }}
        </button>
        <button mat-raised-button (click)="cancle()" [disabled]="data.cancelable === false">
            {{ cast(data, "editor").btnTexts?.cancle || "取消" }}
        </button>
    </ng-container>
</div>
