<div class="container" *ngIf="visible" @showHide>
	<div class="inner flower">
		<div class="one petal"></div>
		<div class="two petal"></div>
		<div class="three petal"></div>
		<div class="four petal"></div>
		<div class="five petal"></div>
		<div class="six petal"></div>
		<div class="seven petal"></div>
		<div class="eight petal"></div>
	</div>
	<div class="bar" *ngIf="progress >= 0">
		<div class="progress" [style.transform]="getScaleX()"></div>
	</div>
	<!-- <mat-progress-spinner class="inner" color="primary" mode="indeterminate"> </mat-progress-spinner> -->
</div>
