<div class="board">
    <div class="title">
        <h2>猜数字</h2>
        <div class="hint">
            不知道规则？
            <a mat-icon-button href="https://zh.wikipedia.org/zh-hans/猜数字" target="_blank" matTooltip="维基百科">
                <mat-icon>open_in_new</mat-icon>
            </a>
            <a mat-icon-button href="https://baike.baidu.com/item/猜数字/83200" target="_blank" matTooltip="百度百科">
                <mat-icon>open_in_new</mat-icon>
            </a>
        </div>
    </div>

    <div>
        当前难度：
        <button mat-raised-button color="primary" (click)="changeDifficulty()">{{ difficulty.name }}</button>
    </div>
    <div [formGroup]="form">
        <mat-form-field>
            <mat-label>猜测</mat-label>
            <input
                type="text"
                matInput
                formControlName="guess"
                [maxlength]="bc.config.digits"
                [minlength]="bc.config.digits"
                (keydown)="onKeyDown($event)"
            />
            <button matSuffix type="submit" color="primary" mat-raised-button (click)="guess()" [disabled]="!canGuess">
                确定
            </button>
            <mat-hint [class.error]="guessInput.length !== bc.config.digits"> {{ guessInput.length }}/{{ bc.config.digits }} </mat-hint>
            <mat-error *ngIf="form.get('guess')?.errors?.pattern">包含非法字符</mat-error>
        </mat-form-field>
    </div>
    <div class="btn-group">
        <button type="submit" color="primary" mat-raised-button (click)="surrender()" [disabled]="!bc.canGuess">投降</button>
        <button type="submit" color="primary" mat-raised-button (click)="start()">重来</button>
    </div>
    <mat-card class="attempts" #attempts>
        <div class="answer-prompt">
            <span>
                答案有
                <span>{{ bc.config.digits }}</span>
                位
            </span>
            <span>
                （<span>{{ bc.config.uniqueChars ? "无" : "有" }}重复</span>），
            </span>
            <span>
                包含字符：<span>{{ bc.config.chars }}</span>
            </span>
        </div>
        <mat-divider></mat-divider>
        <div>
            历史记录<span *ngIf="bc.attempts.length">({{ bc.attempts.length }})</span>
        </div>
        <mat-divider></mat-divider>
        <ng-scrollbar>
            <div class="attempt" *ngFor="let attempt of bc.attempts">{{ attempt.answer }} - {{ attempt.result }}</div>
        </ng-scrollbar>
    </mat-card>
</div>
