<div class="bg" [style]="backgroundStyle"></div>
<mat-card class="user-profile" [style]="userProfileStyle">
    <mat-card-header>
        <button mat-icon-button mat-card-avatar [style]="avatarStyle" [matMenuTriggerFor]="userMenu"></button>
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="logout()">退出登录</button>
        </mat-menu>
        <mat-card-title>{{ user?.profile?.nickname || "" }}</mat-card-title>
        <mat-card-subtitle>{{ user?.profile?.signature || "" }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div #userProfileTabGroup style="height: 100%">
            <mat-tab-group [selectedIndex]="tabGroupIndex" (selectedIndexChange)="tabGroupIndex = $event">
                <mat-tab label="正在播放"></mat-tab>
                <mat-tab label="我的歌单">
                    <app-playlists [mainColor]="mainColor"></app-playlists>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-card-content>
</mat-card>
