@import "~@angular/material/theming";

$app-typography: mat-typography-config(
	$font-family: "Roboto, 微软雅黑, sans-serif",
	$display-4: mat-typography-level(112px, 112px, 300),
	$display-3: mat-typography-level(56px, 56px, 400),
	$display-2: mat-typography-level(45px, 48px, 400),
	$display-1: mat-typography-level(34px, 40px, 400),
	$headline: mat-typography-level(24px, 32px, 400),
	$title: mat-typography-level(20px, 32px, 500),
	$subheading-2: mat-typography-level(16px, 28px, 400),
	$subheading-1: mat-typography-level(15px, 24px, 400),
	$body-2: mat-typography-level(14px, 24px, 500),
	$body-1: mat-typography-level(14px, 20px, 400),
	$caption: mat-typography-level(12px, 20px, 400),
	$button: mat-typography-level(14px, 14px, 400),
	$input: mat-typography-level(16px, 1.25, 400)
);

@include mat-core($app-typography);

$primary: mat-palette($mat-blue); // $deeppurple form color_palette
$accent: mat-palette($mat-pink, A200, A100, A400); // $blue form color_palette
$warn: mat-palette($mat-red); // $red form color_palette
$app-theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($app-theme);

body,
html {
	font-size: mat-font-size($app-typography, body-1);
	font-family: mat-font-family($app-typography);
	line-height: mat-line-height($app-typography, body-1);
}
