@font-face {
    font-family: "Fira Code Retina";
    src: url("assets/fonts/FIRACODE-RETINA_0.TTF");
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.btn-group {
    margin: 5px;

    > * {
        margin: 5px !important;
    }
}

*[disabled] {
    cursor: not-allowed !important;
}

.add-empty-msg:empty::after {
    content: "空空如也";
    color: #888888;
    font-size: 1rem;
}
