.container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column;
  background-color: white;
  --title-size: 1rem;

  > :not(.poems) {
    flex: 0 0 0;
  }

  .toolbar {
    padding: 10px;
  }

  .poems {
    flex: 1 1 0;
    position: relative;
    height: 0;

    .poem {
      .title {
        display: block;
        font-weight: bold;
        flex: 0 0 80%;
        padding: 0;
        margin: 0;
      }
      .dynasty-author {
        justify-content: flex-end;
      }
      .paragraphs {
        line-height: 1.8rem;
      }
      .tags {
        display: flex;
        justify-content: flex-end;
        color: gray;

        .tag {
          padding: 0 5px;
        }
      }
    }
  }
}

.mat-accordion {
  width: 100%;
  height: 100%;
  display: block;
}

.mat-paginator {
  position: relative;
  background-color: white;
}
