<div class="container">
    <div class="toolbar btn-group">
        <button mat-raised-button color="primary" (click)="random()">随机</button>
        <button mat-raised-button color="primary" (click)="search()">搜索</button>
    </div>
    <div class="poems">
        <ng-scrollbar>
            <mat-accordion>
                <mat-expansion-panel class="poem" *ngFor="let poem of page.poems; let i = index">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="title">{{ poem.title || poem.rhythmic }}</mat-panel-title>
                        <mat-panel-description class="dynasty-author">{{ poem.dynasty }} · {{ poem.author }}</mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="paragraphs">
                        <div class="paragraphs" *ngFor="let p of page.paragraphs[i]">{{ p }}</div>
                        <div class="paragraphs" *ngFor="let p of page.content[i]">{{ p }}</div>
                    </div>
                    <div class="tags">
                        <div class="tag" *ngFor="let t of page.tags[i]">{{ t }}</div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </ng-scrollbar>
    </div>
    <mat-paginator
        [length]="pageInfo.length"
        [pageSize]="pageInfo.pageSize"
        [pageSizeOptions]="pageInfo.pageSizeOptions"
        showFirstLastButtons
        (page)="changePage($event)"
    ></mat-paginator>
</div>
